<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>socket.io sample</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js"></script>
    <script src="/assert/js/home.js"></script>
  </head>
  <body class="home">
    <h3>概览</h3>
    <div class="count">
      我是<span class="ownTeam"></span> team 成员。<br />
      现有<span class="totalNum"></span>人在线，whiteTeam有<span class="whiteNum"></span>人， blackTeam有<span class="blackNum"></span>人。
    </div>
    <hr />
    <h3>人员信息变动通知</h3>
    <div class="news">
    </div>
  </body>
</html>
